@charset "UTF-8";

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
	margin:0 auto;
	width: 1000px;
}

header{
    padding: 15px;
    background-color: whitesmoke;
    height:180px;
}

.logo{
    margin-right:50px;
    margin-left:350px;
}

.logo img{
    width:250px;
    border-radius: 100%;
    transition: all 0.8s ease ;
	cursor: default;
}

.logo img:hover{
    box-shadow: 10px 5px 5px yellow;
}

article{
    background-color: beige;
    height: 350px;
    margin-top:15px;
}

.center{
    text-align: center;
    padding: 120px;
}

.login{
  margin-bottom: 15px;
}

.password{
    margin-bottom: 15px;
}

footer{
    margin-top: 15px;
    background-color: blue;
    height: 50px;
}

.copy_rate img{
    height: 15px;
    margin-top:15px;
}

.copy_rate{
    text-align: center;
}
.copy_rate span{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;
  }
  .shine-button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .shine-button:hover {
    background: #fe6637;
    color: #fff;
  }
  .shine-button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }